---
import Layout from '../layouts/Layout.astro'
import Container from '../components/Container.astro'

---
<style>
  p {
    margin-bottom:1.5em;
    font-family: 'DM Sans', sans-serif;
  }
  .content {
    font-size: 20px;
    line-height: 1.50;
  }
</style>

<Layout title={"About Us"}>
  <Container>
    <div class="content">
      <p>
        At Uncle Buck's, our mission is to uplift and empower underprivileged men, fostering lasting transformation in their lives and communities. We are dedicated to breaking the cycle of disadvantage by providing comprehensive support, education, and resources that enable men to realize their full potential. 
      </p>
      <p>
        Our commitment is rooted in the belief that every man, regardless of their background, deserves the opportunity to lead a fulfilling and dignified life. Through a holistic approach, we aim to address the multifaceted challenges faced by underprivileged men, including economic hardships, educational barriers, and social inequalities.
      </p>
    </div>
    </Container>
</Layout>