
---
import Layout from '../layouts/Layout.astro'
import Container from '../components/Container.astro'
---
<style>
  .content {
    font-size: 20px;
    line-height: 1.50;
  }
</style>
<Layout title={"Initiatives"}>
  <Container>
    <div class="content">
      <p>
        Our founder frequently states, “We break things down, to build them back up” and that is how we approach everything we do. 
        We take our time to ensure that every interaction establishes rapport, builds confidence, and empowers young men to lead with integrity.
      </p>

      <p>
        Each pair of shoes is sourced, cleaned, refined, and gifted to young men in need. Mr. Windham examines each shoe to ensure that it 
        meets the “Uncle Buck Standard” and ensures that the young men are gifted shoes that they can wear with confidence.
      </p>

      <p>
        By partnering with local organizations, schools, and churches we are able to meet the needs of young men while building our community outreach mission. 
        These partnerships are vital to the continued growth of Uncle Buck’s and helps us identify ways that we can be advocates for the men we serve.
      </p>


      Our partnership looks like:
    </div>
  </Container>
</Layout>