---
interface Props {
	title: string;
	//body: string;
	image: string;
	//href: string;
}

const { title, image } = Astro.props;
---

<style>
	.item {
		display: grid;
		grid-template-areas:
        "image"
        "heading"
        "text";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr; 
	}

	.image {
		grid-area: image;
		margin: auto;
		max-width: 140px;
		padding-top: 2rem;
		padding-bottom: 2rem;
	}

	.title {
		grid-area: heading;
		font-size: 20px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: .33px;
		text-align: center;
    text-transform: uppercase;
		padding-top: 2rem;
		padding-bottom: 2rem;
	}

</style>

<div class="item">
	<div class="image">
		<img src={image} />
	</div>
	<div class="title">
		<h1>{title}</h1>
	</div>
	<div class="body">
		<slot name="body"> 
			<slot />
			<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mauris pellentesque pulvinar pellentesque habitant morbi. Lorem mollis aliquam ut porttitor leo.</p> -->
		</slot>
	</div>
</div>